
/* شريط التنبيه الأمني */
.security-ticker {
    width: 100%;
    background: linear-gradient(90deg, #00a13b, #05c488);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 7px 0;
    overflow: hidden;
    white-space: nowrap;
    display: none;
    direction: ltr;  /* عكس الاتجاه */
    z-index: 9999;
}

.security-text {
    display: inline-block;
    padding-left: 100%;
    animation: tickerMove 50s linear forwards;
}

@keyframes tickerMove {
    0%   { transform: translateX(-100%); }  /* يبدأ من أقصى اليسار */
    100% { transform: translateX(100%); }   /* ينتهي في أقصى اليمين */
}


