
/* ===== شريط رمضان المتحرك ===== */
.security-ticker {
    width: 100%;
    position: relative;
    background: linear-gradient(
        120deg,
        #0f9d58,
        #1fc8a8,
        #0f9d58
    );
    background-size: 300% 300%;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    display: none;
    direction: ltr;
    z-index: 9999;

    /* حركة الخلفية */
    animation: gradientMove 8s ease infinite;
}

/* حركة تدرج الخلفية */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* ===== تأثير اللمعان ===== */
.security-ticker::after {
    content: "";
    position: absolute;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.35),
        transparent
    );
    animation: shine 3.5s infinite;
}

@keyframes shine {
    0% { left: -40%; }
    100% { left: 120%; }
}



.security-text {
    display: inline-block;
    padding-left: 100%;
    animation: tickerMove 50s linear forwards;
}

@keyframes tickerMove {
    0%   { transform: translateX(-100%); }  /* يبدأ من أقصى اليسار */
    100% { transform: translateX(100%); }   /* ينتهي في أقصى اليمين */
}

